<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242055199930-c07jfeg08t11ceg4uslej9785784hegh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242055199930-c07jfeg08t11ceg4uslej9785784hegh</string>
	<key>API_KEY</key>
	<string>AIzaSyCH1teRbCfihtqgIOJxT0UFEM2Tt_jqjRE</string>
	<key>GCM_SENDER_ID</key>
	<string>242055199930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dqphuong.NativeVision</string>
	<key>PROJECT_ID</key>
	<string>nativevision-12a18</string>
	<key>STORAGE_BUCKET</key>
	<string>nativevision-12a18.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242055199930:ios:429813988e0d97c12e1683</string>
</dict>
</plist>